[Unit]
Description=Minecraft Server Wrapper
After=syslog.target network.target

[Service]
Type=notify
User=mcuser
Group=mcuser
RestartSec=1
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mcsw
WorkingDirectory=/home/mcuser/minecraft
Environment=FLASK_APP=mcsw MCSW_AUTH=/opt/gamocosm/mcsw-auth.txt
ExecStart=/usr/local/bin/run_mcsw.sh

[Install]
WantedBy=multi-user.target
